version: '3.9'

services:
  web:
    image: nginx
    container_name: nginx
    hostname: nginx
    restart: always
    networks:
      srv:
        ipv4_address: 10.200.80.3
    ports:
      - '80:80'
  postgresql:
    build: ./Postgresql
    image: postgresql
    container_name: postgresql
    hostname: postgresql
    restart: always
    environment:
      - VERSION_POSTGRESQL=9.3
    networks:
      int:
        ipv4_address: 10.10.0.2
    ports:
      - '5432:5432'
      - '22:22'

  dns:
    build: ./Bind9
    image: bind9
    container_name: bind9
    hostname: bind9
    # stdin_open: true
    restart: always
    volumes:
      - dns:/etc/bind
    networks:
      srv:
        ipv4_address: 10.200.80.1
    ports:
      - '53:53'
      - '22:22'

networks:
  int:
    name: interno
    driver: bridge
    #driver_opts:
      #parent: wlo1
    ipam:
      driver: default
      config:
        - subnet: 10.10.0.0/24  
          gateway: 10.10.0.1
  
  srv:
    name: srv
    driver: ipvlan
    driver_opts:
      parent: enp2s0
    ipam:
      config:
        - subnet: 10.200.0.0/16  
          gateway: 10.200.1.251
  # ext:
  #   external
  #     name: ext

volumes:
  dns:
    name: dns
